.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 3s ease-in-out;
  height: 20px;
  display:block;
  float:left;
  margin: 0px 0px 0px 0px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(1080deg); }
  90% { transform: scale(2); }
  100% { transform: scale(1); }
}
